<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.park_mate">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ViewUser_Timeline"></activity>
        <activity android:name=".Block_Reason" />
        <activity android:name=".MycommentRead" />
        <activity android:name=".Control_Profile" />
        <activity android:name=".forgotpassword" />
        <activity android:name=".Userwelcome" />
        <activity android:name=".welcomepage" />
        <activity android:name=".UpdateOption_Survey" />
        <activity android:name=".UpdateSurvey" />
        <activity android:name=".Update_Question_Final" />
        <activity android:name=".SurveyThree" />
        <activity android:name=".SurveyTwo" />
        <activity android:name=".SurveyFirst" />
        <activity android:name=".Parkupdation_final" />
        <activity android:name=".Parkupdate" />
        <activity android:name=".ParkAdd" />
        <activity android:name=".NewUser" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Login" />
        <activity android:name=".DeleteSurvey" />
        <activity android:name=".DeletePark" />
        <activity android:name=".Admin" />
        <activity android:name=".AddOption_Survey" />
        <activity android:name=".Add_Survery" />
        <activity android:name=".Second" />
        <activity android:name=".DropOption_Survey" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>